<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_push" />
    <!--
 Set color used with incoming notification messages. This is used when no color is set for the incoming
         notification message. See README(https://goo.gl/6BKBk7) for more.
    -->
    <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/main_color" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_register_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_register_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Refrigerator_2023Final"
        tools:targetApi="31">
        <activity
            android:name=".RecipePage"
            android:exported="false" />
        <activity
            android:name=".RecipeRegistActivity"
            android:exported="false" />

        <service
            android:name=".MyFirebaseMessaging"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".RecipeRegistPage"
            android:exported="false" />
        <activity
            android:name=".FoodListFixPage"
            android:exported="true"
            android:label="FoodListFixPage" />
        <activity
            android:name=".IntroActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FoodListItemPage"
            android:exported="true" />
        <activity
            android:name=".FoodListPage"
            android:exported="true" />
        <activity
            android:name=".FoodRegist"
            android:exported="true" />
        <activity
            android:name=".RegisterPage"
            android:exported="false" />
        <activity
            android:name=".LoginPage"
            android:exported="true" />
        <activity
            android:name=".MyPageJava"
            android:label="@string/app_name"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".allergyfilterpage"
            android:exported="true" />
    </application>

</manifest>